{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'buy.css' %}">
    <title>Digitalsanthe</title>
  </head>
  <body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light  bg-success fixed-top scrolling-navbar">
            <a class="navbar-brand nav-link text-uppercase font-weight-bold text-white ml-2" href="/">Digitalsanthe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/buy/" class="nav-link text-uppercase font-weight-bold  text-white ml-2">Buy</a></li>
                    <li class="nav-item "><a href="/sell/"class="nav-link text-uppercase font-weight-bold text-white ml-2 " >Sell</a></li>
                    <li class="nav-item "><a href="/profile/"class="nav-link text-uppercase font-weight-bold text-white ml-2" >profile</a></li>
                    <li class="nav-item "><a href="/logout/"class="nav-link text-uppercase font-weight-bold text-white " >Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="mt-5"> 
    <div class="row"id="banner">
    </div>
    <div class="container">
        <div class="row text-center searchbox">
            <div class="col-md-6 mx-auto bg-success py-4 rounded-pill" >
                <input  class="rounded-pill" type="text" name="" placeholder="     Enter price" style="width:60%">
                <button class="btn btn-dark text-white rounded-pill">Search</button>
            </div>
        </div>
        

    </div>
    <div class="container mt-5">
      <div class="row justify-content-around  ">
        {% for p in products %}
         <div class="col-md-6  ">
            <div class="row shadow bg-white rounded product m-2">
            <div class="col-md-6">
               <img class=" w-100 py-3" src="{{baseUrl}}/{{p.p_type}}.jpg">
               <p><b>Farmer : </b>{{p.f_id.email}}</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-center font-weight-bold mt-1">{{p.p_name}}</h5>
                <p>{{p.description}}</p>
                <p><b>Quantity : </b>{{p.quantity}}</p>
                <p><b>Price : </b>{{p.price}} Rs</p>
                <input type="button" class="btn btn-dark" value="Buy" id="buy" onclick=callme({{p.p_id}})>
            </div>
            </div>
        </div>
        {% endfor %}
         
          
      </div>
    </div>
    

    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            function callme(id){
                $.get(
                    '/want/',
                    {'id':id},
                    function(response){
                        if(response.data=="ok")
                        {
                            alert("successful")
                        location.reload()
                        }
                        else{
                            alert('unsuccessful')
                        }
                    }
                )
            }
    </script> 
</body>
</html>